.ant-input-affix-wrapper {
    &:focus, &-focused {
        border-color: #00CC99 !important;
        box-shadow: 0 0 0 2px rgba(0, 204, 153, 20%) !important;
        border-right-width: 1px;
        outline: 0;
    }

    &:hover {
        border-color: #00CC99 !important;
        border-right-width: 1px;
    }
}

.ant-btn-primary {
    border-color: #00CC99;
    background: #00CC99;

    &:hover, &:focus {
        border-color: #00CC99;
        background: #00CC99;
    }
}